body {
  background-color: #f3f3f4;
  font-size: 14px;
  color: #676a6c;
}

.body {
  width: 960px;
  margin: 0 auto;
}

/* Fix ButtonGroup's borderRightColor */
.ant-btn-group .ant-btn-primary:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-primary + .ant-btn[disabled] {
  border-right-color: #d9d9d9;
}
